#bg-image{
 background-image: url("images/hero-bg.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
text-align: center;
}
#carousel-image{
    background-image: url('images/testimonial_bg.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
text-align: center;
height: 400px;
}

@media (max-width: 481px) {
    body{
        margin-left:0px;
        padding-left:0px;
    }
    .logo{
        padding-left :0px !important;
        height: 35px;
    }
    .first-cl{
        margin-left: 10px;
        margin-right:30px;
        padding: 0px;
    }
    .navbar-toggler{
        font-size: 25px;
    }
    .nav-padding {
    padding-right:50px ;
    }
    .bannerimg{
        height: 28vh;
    }
    .row{
        margin-right: 20px;
    }
.our-address{
    padding-bottom: 20px;
}
}


